* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}
/* ======== Phần Common (dùng chung) ======== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  background: #2e80ce;
  min-width: 205px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
.service-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.service-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 18px;
}
/* ======== Phần Header ======== */
.header {
  background: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.action__login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
/* Khi hover thì thêm cái dấu chấm phía trước nữa , toàn bộ thuộc tính bên trong là DÀNH CHO DẤU CHẤM !!! */
.navbar__link:hover::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  top: -3px;
  left: -8px;
}
.logo {
  cursor: pointer;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.action__login {
  margin-right: 7px;
}
.action__signup {
  min-width: 104px; /*này ghi sau nên sẽ ăn , thay vì cái .btn có min-width 205px ở phần common nhé */
  line-height: 44px;
  border-radius: 22px;
  background: #2e80ce;
}
.service__heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
/* ======== Phần Hero ======== */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 76px; */
  padding-top: 76px;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-family: Sora;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px; /* Để nó đè lên cái ảnh nhỏ */
  z-index: 1; /* Để nó nằm trên lớp cái ảnh nhỏ */
}
.hero__img-small {
  width: 210px;
  height: 410px;
}
/* ======== Phần Service ======== */
.service {
  padding: 170px 0;
  background: #fff;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  max-width: 468px; /*CÁI NÀY K XÀI 1 MÌNH ĐC VÌ ĐẶC TÍNH THẺ P LÀ BLOCK (CHIẾM HẾT CHIỀU NGANG) NÊN GIỚI HẠN ĐỘ RỘNG THÌ BỀ NGANG CÒN BÉ TÍ */
  margin: 18px auto 0; /* Để căn giữa */
}
.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  display: flex;
  max-width: 470px;
  border-radius: 10px;
  padding: 21px;
  background: #fff;
  transition: 0.5s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.08);
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.5s;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  max-width: 351px;
}
.service__btn {
  margin-top: 55px;
}
/* ======== Phần tự làm thử ======== */
.hiw {
  background: #f6fbff;
  padding: 100px 0;
}
.hiw__tittle {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.hiw__desc {
  width: 468px;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.banut {
  margin-top: 86px;
  display: flex;
  gap: 46px;
}
.banut__title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.banut__text {
  margin-top: 28px;
  /* width: 300px; XÀI THÌ NÓ RỘNG VỠ LAYOUT BỀ NGANG */
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.banut__learn-more {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  width: 91px;
  display: inline-block;
  margin-top: 18px;
}
.banut__btn {
  /* width: 370px; XÀI CÁI NÀY THÌ PADDING K GIÃN GIỐNG THIẾT KẾ  */
  background: #fff;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  padding: 43px;
}
.banut__btn:hover {
  border-color: #2e80ce;
  transition: 0.5s;
  transform: translateY(-16px);

  /* transform: perspective(1000px) rotateX(5deg) rotateY(3deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);*/
}
.banut__learn-more:hover {
  color: #2e80ce;
}
