* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}
/* ======== Phần Common (dùng chung) ======== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  background: #2e80ce;
  min-width: 205px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 999px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.service-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.service-desc {
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 18px;
}
/* ========== cái nút qua trái - qua phải ========== */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
  /* justify-content: center; */
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
}
.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}
/* ======== Phần Header ======== */
.header {
  background: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.action__login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}
.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
/* Khi hover thì thêm cái dấu chấm phía trước nữa , toàn bộ thuộc tính bên trong là DÀNH CHO DẤU CHẤM !!! */
.navbar__link:hover::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  top: -3px;
  left: -8px;
}
.logo {
  cursor: pointer;
}
.action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.action__login {
  margin-right: 7px;
}
.action__signup {
  min-width: 104px; /*này ghi sau nên sẽ ăn , thay vì cái .btn có min-width 205px ở phần common nhé */
  line-height: 44px;
  border-radius: 22px;
  background: #2e80ce;
}
.service__heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
/* ======== Phần Hero ======== */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 76px; */
  padding-top: 76px;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  color: #fff;
  font-family: Sora;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  color: #c9d2da;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
  margin-top: 22px;
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  margin-right: -6px; /* Để nó đè lên cái ảnh nhỏ */
  z-index: 1; /* Để nó nằm trên lớp cái ảnh nhỏ */
}
.hero__img-small {
  width: 210px;
  height: 410px;
}
/* ======== Phần Service ======== */
.service {
  padding: 170px 0;
  background: #fff;
}
.service__heading,
.service__desc {
  text-align: center;
}
.service__desc {
  max-width: 468px; /*CÁI NÀY K XÀI 1 MÌNH ĐC VÌ ĐẶC TÍNH THẺ P LÀ BLOCK (CHIẾM HẾT CHIỀU NGANG) NÊN GIỚI HẠN ĐỘ RỘNG THÌ BỀ NGANG CÒN BÉ TÍ */
  margin: 18px auto 0; /* Để căn giữa */
}
.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  display: flex;
  max-width: 470px;
  border-radius: 10px;
  padding: 21px;
  background: #fff;
  transition: 0.5s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.08);
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.5s;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  max-width: 351px;
}
.service__btn {
  margin-top: 55px;
}
/* ======== Phần How it work (tự làm thử) ======== */
.hiw {
  background: #f6fbff;
  padding: 100px 0;
}
.hiw__tittle {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.hiw__desc {
  width: 468px;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.banut {
  margin-top: 86px;
  display: flex;
  gap: 46px;
}
.banut__title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.banut__text {
  margin-top: 28px;
  /* width: 300px; XÀI THÌ NÓ RỘNG VỠ LAYOUT BỀ NGANG */
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.banut__learn-more {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
  width: 91px;
  display: inline-block;
  margin-top: 18px;
}
.banut__btn {
  /* width: 370px; XÀI CÁI NÀY THÌ PADDING K GIÃN GIỐNG THIẾT KẾ  */
  background: #fff;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  padding: 43px;
}
.banut__btn:hover {
  border-color: #2e80ce;
  border-radius: 20px;
  transition: 0.5s;
  transform: translateY(-16px);

  /* transform: perspective(1000px) rotateX(5deg) rotateY(3deg);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);*/
}
.banut__learn-more:hover {
  color: #2e80ce;
}
/* ======== Phần about 4 ông bác sĩ (tự làm thử) ======== */
.section {
  padding: 85px 0;
}
.section__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
}
.section__header {
  text-align: center;
}
.section__btn {
  margin-top: 38px;
}
.section__about {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.section__img {
  width: 100%; /* max-width cũng đc */
  height: 290px;
  object-fit: cover;
  border-radius: 6px;
  background: #eaf6ff;
}
.section__name {
  margin-top: 12px;
  color: #10375c;
  font-size: 1.6rem;
  line-height: 1.7; /* 175% */
  text-align: center;
}
.section__info {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.85; /* 185.714% */
}
.section__logo {
  margin-top: 38px;
  text-align: center;
}
.section__card:hover .section__img {
  border: 6px solid #eaf6ff;
  border-radius: 20px;
  border-color: #7296e3;
  transition: 0.5s;
  /* transform: translateY(-16px); */
  transform: scale(1.1);
  cursor: pointer;
}
/* Cái nút qua trái - qua phải */
.team__control {
  margin-top: 38px;
  justify-content: center;
}
/* ====== Khối Take back your smile (Test - Tự Làm) ====== */
.smile {
  margin-top: 85px;
  padding: 85px 0 206px;
  /* background-color: pink; */
}
.smile__center {
  /* display: flex; */
  display: grid;
  grid-template-columns: 49% 40%;
  justify-content: space-between;
  align-items: center;
}
/* .smile__picture {
  width: 49%;
} */
/* .smile__right {
   width: 40%; file thiết kế chiều ngang khối này chỉ có 470px => 470 / 1170 của container * 100% = 40% nên có ôs 40%
} */
.smile__media {
  position: relative;
}
.smile__img--large {
  display: flex;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  object-fit: cover;
}
.smile__img--small {
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  /* z-index: 1; xài kiểu này cũng đc, nhưng thôi */
  position: absolute;
  top: 121px;
  left: 238px;
}

.smile__title {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.smile__desc {
  margin-top: 18px;
  margin-bottom: 38px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.control__btn--next {
  rotate: 180deg;
}
/* ======== Phần Mobile (tự làm thử) ======== */
.mobile {
  /* padding: 85px 0; */
}
.mobile__main {
  /* position: relative; LÀ 1 CÁCH KHÁC ĐỂ ĐIỀU KHIỂN TẤM ẢNH mobile__picture */
  margin: 180px 0 85px;
  border-radius: 4px;
  height: 427px;
  padding: 0 70px;
  background: #2e80ce;
  display: grid;
  grid-template-columns: 24% 50%;
  /* justify-content: center; BỎ NHA*/
  column-gap: 160px;
}
/* =============== Bên trái =============== */
.mobile__picture {
  height: 522px;
  width: 284px;
  object-fit: cover;
  position: relative;
  bottom: 95px;
}
/* =============== Khối bên phải =============== */
.mobile__right {
  max-width: 586px;
}
.mobile__title {
  /* max-width: 489px; */
  margin-top: 76px;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.mobile__desc {
  width: 586px;
  margin-top: 18px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.mobile__btn {
  margin-top: 38px;
  display: flex;
  gap: 28px;
  align-items: center;
}
.mobile__logo--android {
  width: 135px;
  height: 40px;
  cursor: pointer;
}
.mobile__logo--ios {
  width: 120px;
  height: 40px;
  cursor: pointer;
}
/* ======== Phần Blog (tự làm thử) ======== */
.blog {
  padding: 85px 0;
}
.blog__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ================= Bên trái  */
.blog__left {
  width: 40%;
}
.blog__title {
  max-width: 470px;
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.blog__readlink {
  display: inline-block;
  margin: 28px 0;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: 5px;
  text-underline-position: from-font;
}
.blog__control--next {
  rotate: 180deg;
}
/* ================= Bên Phải */
.blog__right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.blog__info {
  padding: 18px 22px;
}
.blog__pic {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}
.blog__title--mini {
  display: inline-block;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}
.blog__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}
.blog__readlink--mini {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
}
.blog__readlink:hover,
.blog__readlink--mini:hover {
  color: #2e80ce;
}

.blog__item {
  max-width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  overflow: hidden;
}
.blog__item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.blog__item:hover .blog__pic {
  transform: scale(1.1);
  transition: 0.5s;
}
